body {
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
	font-size:14px;
	
}
.section {color: #fff;}
.banner{ 
	font-size:80px;
	line-height:100px;
}
.textshadow {
	text-shadow: 2px 2px #373C38;
}
.container{
	margin:0px auto;
	width:65%;
}
.navbar-inner .container-fluid {
    padding-right: 200px;
    padding-left: 200px;
}
.section-vision { 
	background: url("http://7xnh17.com1.z0.glb.clouddn.com/1.jpg") no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
	text-align:center;
}


.content-area .content{
	padding-top:200px;
}
.content-area .content .title {
	font-size:60px;
	padding-bottom:50px;
}
.content-area .content .detial {
	font-size:25px;
}
.fl{
	float:left;
}
.fr{
	float:right;
	text-align:center;
}
.section-product {	
	background:url("http://7xnh17.com1.z0.glb.clouddn.com/c9e42240.jpg") no-repeat;
	background-position:center;
}
.section-backstage { 
	background:url("http://7xnh17.com1.z0.glb.clouddn.com/89AZTB8E5H.jpg") no-repeat;
	background-position:center;
	color:#000000;
}
.section-repair { 
	background: url("http://7xnh17.com1.z0.glb.clouddn.com/15134A07A3.jpg") no-repeat;
	background-position:center;
}
.section-advantage { 
	color:#00AEEF;
	text-align:center;
	font-size:1.5em;
}
.pad100{
	padding-top:300px;
	padding-left:100px;
}